#left {
 width: 100%;
 font-size: 13pt;
 text-align: left;
}

#right {
 width: 100%;
 font-size: 13pt;
 text-align: right;
}

body {
 background-color: black;
}

h3, h1 {
 color: white;
}

* {
 font-family: 'Courier New', Coruier, monospace;
 padding: 2vw;
}
