#left {
 width: 100%;
 font-size: 13pt;
 text-align: left;
}

#right {
 width: 100%;
 font-size: 13pt;
 text-align: right;
}

body {
 background-color: black;
 width: 100vw;
}

h3, h1 {
 color: white;
 height: 30px;
 border: none;
 outline: none;
 border-radius: 15px;
 background-color: #34e;
}

* {
 font-family: 'Courier New', Coruier, monospace;
 padding: 2vw;
}
