:root {
  --redColor: #FFF;
  --greenColor: #FFF;
  --blueColor: #FFF;
}


* {
	font-family: "Menlo", Sans-Serif;
	background: #000;
}

img {
  display: block;
  width: clamp(100px,10vw,15vw);
  margin-inline: auto;
  margin-top: 8vh;
}

#bars {
  margin-inline: auto;
  margin-top: 5vh;
  display: block;
}



#bars input {
  display: block;
  margin-inline: auto;
  margin-block: 8px;
  padding-block: 4px;
  padding-inline: 8px;
  border-radius: 15px;
  width: 80vw;
  box-sizing: border-box;
  border: 2px solid white;
  color: white;
}

#calculator {
  text-align: right;
}

.swatch {
  color: #0000;
  background-color: white;
  outline: white;
}

.out {
  display: block;
}



#colorbox {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 33% 66%;
  grid-template-areas:
    "r out"
    "g out"
    "b out";
  grid-gap: 8px;
  margin-inline: auto;
  max-width: 40vw;
}

#r {
  grid-area: r;
}

#g {
  grid-area: g;
}

#b {
  grid-area: b;
}

#hex {
  grid-area: out;
  background: black;
  color: white;
  text-align: center;
  line-height: 50px;
}



input[type="range"] {
 -webkit-appearance: none;
}

input[type="range"]:focus {
 outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
 background: tomato;
}

input[type="range"]::-moz-range-track {
 background: tomato;
}

input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 margin-top: -5px;
 border-radius: 0;
}

input[type="range"]::-moz-range-thumb {
 margin-top: -5px;
 border-radius: 0;
}

#r::-webkit-slider-thumb {
  background: var(--redColor);
}
#r::-moz-range-thumb {
  background: var(--redColor);
}

#g::-webkit-slider-thumb {
  background: var(--greenColor);
}
#g::-moz-range-thumb {
  background: var(--greenColor);
}

#b::-webkit-slider-thumb {
  background: var(--blueColor);
}
#b::-moz-range-thumb {
  background: var(--blueColor);
}
