/* ::selection { */
	/* color: var(--bg); */
	/* background: var(--hl); */
/* } */

* {
	font-family: "Menlo", Sans-Serif;
	background: #FFF !important;
}

#calculator {
  color: cyan;
  text-align: right !important;
}

