body {
	overflow-x: hidden;
}

.container {
	display: grid;
	grid-template-columns: 1.5% 23.5% 64% 10%;
	grid-template-areas: ". img p .";
	gap: 20px;
	grid-auto-flow: row;

	justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;

	margin: auto;
	border-radius: 5px;

	width: var(--fullwidth);
	overflow-x: hidden;
}
.flip{
	grid-template-areas: ". p img .";
	grid-template-columns: 1.5% 64% 23.5% 10%;
	justify-items: right;
}

div.banner {
	padding: 5px;
}
div.banner center img {
	width: 80%;
	margin: var(--large);
}
div.banner center div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--mm);
	white-space: pre-line;
}
div.banner center div.paragraph {
	font-size: var(--ll);
}

.container img {
	grid-area: img;
	max-width: 25vw;
	max-height: 25vw;
	border-radius: 50%;
	justify-self: center;
}

.container.flip img {
	justify-self: end;
}

.container div {
	grid-area: p;
	font-size: var(--ll);
	font-family: Arial, Helvetica, sans-serif;
	white-space: pre-line;
	overflow-wrap: break-word;
	align-self: center;
	text-align: start;
}