div.grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	gap: var(--ss);
	font-family: var(--ff);
}

div.grid.item {
	text-align: center;
}

.item {
	margin: var(--mm);
	padding: var(--sm);
	border-radius: 5px;
	background-color: var(--lllblue);
	transition: 1s;
	font-size: var(--mm);
	text-decoration: none;
	color: black;
}

.item:hover {
	cursor: pointer;
	transform: translateY(calc(-1 * var(--mm)));
	box-shadow: 0 10px;
}







#greeting {
	background-color: var(--lblue);
	width: 100%;
	overflow-x: hidden;
	min-height: max-content;
	color: white;
	padding-top: min(20px, 2vh);
	padding-bottom: min(20px, 2vh);
	padding-left: 2vw;
	padding-right: 2vw;
}

#greeting center p {
	font-family: var(--ff);
	font-size: var(--sm);
}

.hd {
	display: none;
}

.padding {
	padding-top: var(--mm);
}