#nav {
	background-color: #294391;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#nav a {
	float: left;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 1.4vw 1.4vw;
	font-size: clamp(5pt, 2vw, 15pt);
	
}
#nav a.active {
	background-color: #4169e1;
	color: #fff;
}

#nav a:hover {
	background-color: #2e4ca6;
	color: #fff;
}

.buffer {
	position: initial;
	margin-top: 5vw;
}

.iblock {
  display: grid;
  grid-template-columns: 10vw 1fr 1fr;
  grid-template-rows: 10vw 1.3fr;
  gap: 0px 5px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: 
    "Image head head"
    "sub sub sub";
	
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}
.iblock img { 
	grid-area: Image;
	min-width: 5vw;
	min-height: 5vw;
	max-width: 100px;
	max-height: 100px;
	border-radius: 5px;
	padding: 1px;
}
.iblock .head { 
	grid-area: head; 
	min-width: max-content;
	font-size: 13pt;
	height: 10vw;
	line-height: 10vw;
	max-width: max-content;
}
.iblock .sub { 
	grid-area: sub; 
	min-width: max-content;
	font-size: 11pt;
	height: max-content;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
}