/* Reset margin and padding on everything by default */

:root {
	--fullwidth: 100%;
	--lblue: #4169e1;
	--dblue: #2e4ca6;
	--ddblue: #294391;
	--white: #fff;
	--telecol: cyan;
	--telecola: darkcyan;

	--ff: Helvetica;

	--ss: clamp(5pt, 1vw, 10pt);
	--sm: clamp(5pt, 1.5vw, 12pt);
	--mm: clamp(5pt, 2vw, 14pt);
	--ml: clamp(5pt, 2.5vw, 16pt);
	--ll: clamp(5pt, 3vw, 20pt);
	--xl: clamp(5pt, 3.75vw, 40pt);
	--xx: clamp(5pt, 4.5vw, 60pt);
}

body {
	height: min-content !important;
}

.padding {
	padding-top: var(--xx);
}

*{
  margin:0;
  padding: 0;
	box-sizing: border-box;
}

/* Top bar navigation css */
#nav {
	position: fixed;
	z-index: 2;
	background-color: var(--dblue);
	overflow: hidden;
	top: 0;
	left: 0;
	width: var(--fullwidth);
	height: var(--xx);
}
#nav a {
	float: left;
	color: var(--white);
	text-align: center;
	text-decoration: none;
	padding: 1.4vw 1.7vw;
	height: var(--xx);
	font-size: var(--mm);
	
}
#nav a.active {
	background-color: var(--lblue);
	color: var(--white);
}

#nav a:hover {
	background-color: var(--dblue);
	color: var(--white);
}

/* Footer code */

footer {
	box-sizing: border-box;
	margin-top: 10vh;
	background-color: var(--ddblue);
	color: var(--white);
	height: auto;
	padding-top: 7vh;
	padding-bottom: 7vh;
	width: 100%;
}

div.footer {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 33vw 33vw 33vw;
	grid-template-areas: 
		". a ."
		"b b b"
		"c c c";
		align-items: stretch;
}

.footer .top {
	grid-area: a;
	text-align: center;
	font-size: var(--ll);
}
.footer .center {
	grid-area: b;
	text-align: center;
	font-size: var(--mm);
}
.footer .bottom {
	grid-area: c;
	text-align: center;
	font-size: var(--mm);
}

footer center div {
	bottom: 0px;
	font-size: var(--mm);
}






/* Carousel Code */
/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
div#carousel {
	z-index: 1;
	max-width: min(600px, 50vw);
	position: relative;
	margin: auto;
	margin-top: var(--xx);
	background-color: black;
}

.invisible {
	display: none;
}
.visible {
	display: block;
}

div.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: 0.8} to {opcaity: 1.0}
}

.fade img{
	width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1.25vw;
  color: black;
  font-weight: bold;
  font-size: var(--ll);
  transition: 0.6s ease;
	border-radius: 3px 0 0 3px;
  user-select: none;
}
.prev {
	left: -3.9vw;
}
.next {
	right: -4vw;
	border-radius: 0 3px 3px 0;
}
.prev:hover, .next:hover {
  background-color: #0008;
}
.caption {
  color: black;
  font-size: var(--mm);
  padding: 10px 12px;
  position: absolute;
  bottom: -7vh;
  width: 100%;
	overflow-wrap: break-word;
  text-align: center;
}
.nums {
  color:white;
	background-color: #0008;
  font-size: var(--ss);
  padding: 4px 6px;
  position: absolute;
  top: 0;
}






/* Formatting for text and navigation head buffer */
.buffer {
	position: initial;
	margin-top: var(--xx);
	min-height: calc(100%-60pt);
}

.text {
	font-family: Arial, Helvetica, sans-serif;
}

a.telephone {
	color: cyan;
	text-decoration: none;
}

a.telephone:active {
	color: darkcyan;
}