body {
	height: 200vh;
}


#greeting {
	display: grid;
	background-color: var(--lblue);
	grid-template-rows: var(--ll) var(--xl) var(--mm);
	grid-template-columns: 27.5vw 10vw auto 28.5vw;
	grid-template-areas: 
		"marginL logo top marginR"
		"marginL logo middle marginR"
		"marginL logo bottom marginR";
	width: 100%;
	height: calc(min-content + var(--xx));
	padding-top: var(--ml);
	padding-bottom: calc(1.5 * var(--ml));
	gap: 0.5em;
}

#greeting div{
	text-align: center;
	font-family: var(--ff);
}

#greeting div.top{
	grid-area: top;
	font-family: cursive;
	font-size: var(--ll);
	font-weight: bold;
}
#greeting div.middle{
	grid-area: middle;
	font-size: var(--xl);
	font-weight: bolder;
}
#greeting div.bottom{
	grid-area: bottom;
	font-size: var(--mm);
	font-weight: bold;
}

img.logo {
	grid-area: logo;
	align-self: center;
	justify-self: center;
}