body {
	height: 200vh;
}

#greeting {
	background-color: var(--lblue);
	width: 100%;
	overflow-x: hidden;
	height: calc(var(--ll)+var(--xl)+var(--mm));
	padding-bottom: var(--mm);
}

#greeting center h4 {
	padding: none;
	font-family: cursive;
	font-size: var(--ll);
}

#greeting center h1 {
	font-size: var(--xl);
}

#greeting center h5 {
	font-size: var(--mm);
}