div.grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 33% 33% 33%;
	grid-template-areas: "a b c";
	align-items: stretch;
	width: 88vw;
	margin: auto;
	grid-gap: 4px;
}
div.left {
	grid-area: a;
}
div.center {
	grid-area: b;
}
div.right {
	grid-area: c;
}

div.grid div{
	background-color: var(--lblue);
	color: white;
	text-align: center;
	padding: var(--ss);
	font-size: var(--ml);
}

div.grid div div.body {
	font-size: var(--sm);
	text-align: left;
	padding: var(-ss);
}

div.body div.gg {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"l1 r1"
	"l2 r2"
	"l3 r3"
	"l4 r4"
	"l5 r5"
	"l6 r6"
	"l7 r7"
	"l8 r8"
	"l9 r9"
	"l10 r10";
	align-items: top;
	grid-gap: 4px;
}

div.gg div.left {
	text-align: left;
	font-size: var(--sm);
	list-style-type: "- ";
	min-height: 2.5em;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.gg div.right {
	text-align: right;
	font-size: var(--sm);
	list-style-type: "";
	min-height: 2.5em;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.gg div.l1 {
	grid-area: l1;
}
div.gg div.l2 {
	grid-area: l2;
}
div.gg div.l3 {
	grid-area: l3;
}
div.gg div.l4 {
	grid-area: l4;
}
div.gg div.l5 {
	grid-area: l5;
}
div.gg div.l6 {
	grid-area: l6;
}
div.gg div.l7 {
	grid-area: l7;
}
div.gg div.l8 {
	grid-area: l8;
}
div.gg div.l9{
	grid-area: l9;
}
div.gg div.l10 {
	grid-area: l10;
}


div.gg div.r1 {
	grid-area: r1;
}
div.gg div.r2 {
	grid-area: r2;
}
div.gg div.r3 {
	grid-area: r3;
}
div.gg div.r4 {
	grid-area: r4;
}
div.gg div.r5 {
	grid-area: r5;
}
div.gg div.r6 {
	grid-area: r6;
}
div.gg div.r7 {
	grid-area: r7;
}
div.gg div.r8 {
	grid-area: r8;
}
div.gg div.r9 {
	grid-area: r9;
}
div.gg div.r10 {
	grid-area: r10;
}

div.grid div.small {
	font-size: var(--ss);
}

#greeting {
	background-color: var(--lblue);
	width: 100%;
	overflow-x: hidden;
	min-height: max-content;
	color: white;
	padding-top: min(20px, 2vh);
	padding-bottom: min(20px, 2vh);
	padding-left: 2vw;
	padding-right: 2vw;
	margin-bottom: 2vw;
}

#greeting center p {
	font-family: var(--ff);
	font-size: var(--ss);
}